<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     {{mywp.nome}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card *ngFor="let p of mypost">
      <ion-item>
        <ion-label>{{p.name}}</ion-label>
      </ion-item>
      <ion-card-content>
       {{p.weaponType}}
        <ion-text color="secondary">
          <p>Damage on display: {{p.attack.display}}</p>
          <p>Damage raw effective: {{p.attack.raw}}</p>
        </ion-text>
      </ion-card-content>
    </ion-card>
</ion-content>
